/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* /CSS RESET */

/* FLEXBOX */
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;    
}
.flex-row{
    display: flex;
    flex-direction: row;    
}
.space-between{
    justify-content: space-between;
}
/* FLEXBOX */

/* ANIMATION UTILITIES */
.overflow-hidden {
    overflow: hidden;
}
.g-down-up {
    transform: translateY(250%);
}

.g-up-down {
    transform: translateY(-100%);
}

.g-left-right {
    transform: translateX(-100%);
}

.g-right-left {
    transform: translateX(100%);
}
/* /ANIMATION UTILITIES */

/* TYPOGRAPHY */
h1, p, a{
    text-align: center;
    color: black;
}

h1{
    text-transform: uppercase;
}

h1{
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5vw;
}
h2{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
p, a{
    font-size: 1.33vw;
    line-height: 1.5;
    font-family: 'Lora', Times, serif;
}
a{
    color: white;
}
a:hover{
    color: #E71A2D;
    transition-duration: 500ms;
}
p{
    padding-bottom: 5%;
    font-weight: 300;
}
/* /TYPOGRAPHY */

/* LINKS AND BUTTONS */
.links{
    padding-top: 5%;
}
.faq-link-wrapper,
.link-wrapper{
    padding: 2%;
    width: 10vw;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.link-light{
    color: white;
}
.link-wrapper:hover{
    background-color: #012169;
    color: white;
    transition-duration: 500ms;
    transform: scale(1.2);
}
.faq-link-wrapper:hover{
    background-color: white;
    color: #012169;
    transition-duration: 500ms;
    transform: scale(1.2);
}
.border-white{
    border: 1px solid white;
}
.link, .link-light{
    font-size: 1vw;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.link-light:hover{
    color: #012169;
    transition-duration: 500ms;
}
.link:hover{
    color: white;
    text-decoration: none;
}
#earth-anew-button{
    margin-bottom: 2%;
}
/* /LINKS AND BUTTONS */

/* LANDING PAGE */
#home-page{
    background-color: white;
    height: 100vh;
    justify-content: center;
    padding: 0 23%;
}

/* /LANDING PAGE */

/* VIDEO PAGE */
#video-page{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
}

#video-wrapper{
    height: 48vw;
    width: 48vw;
    margin-right: -1px;
}
#close-button-wrapper{
    justify-content: end;
}
#close-button{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2vw;
    text-align: right;
    float: right;
    cursor: pointer;
}
/* .box-shadow{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
    width: 50vh;
    margin: 0 auto;
} */
#credits-wrapper{
    margin-top: 5vh;
}
.credit{
    text-align: center;
    line-height: 1.3;
    font-size: 1.25vw;
    font-family: 'Lora', Times, serif;
}
/* /VIDEO PAGE */


/* FAQ */
#faq-page{
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    padding: 0 10%;
    z-index: 3;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    -webkit-box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 51px 8px rgba(0,0,0,0.75);
    background-color: #012169;
}
#faq-wrapper{
    height: 100%;
}
#question, #answer{
    text-align: left;
    color: white;
}
#question{
    font-weight: bold;
    text-transform: none;
    margin-top: 5%;
}
.line{
    border: 1px solid white;
    width: 15vw;
    margin: 3% 0;
}
.white-border{
    border: 1px solid white;
}
.white-color{
    color: white;
}
#logo-wrapper{
    width: 100%;
    padding: 10% 0 5%;
    justify-content: center;
}
#logo-wrapper img{
    width: 20vw;
}
#home-button{
    margin-top: 10%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 768px) {
    /* ANIMATION UTILITIES */
    .g-down-up {
        transform: translateY(350%);
    }
    /* /ANIMATION UTILITIES */
    /* HOME PAGE */
    h1{
        font-size: 8vw;
    }
    p{
        font-size: 3.5vw;
    }
    #home-page{
        padding: 10%;
    }
    .links{
        padding-top: 10%;
    }
    .link-wrapper{
        width: 50vw;
        margin-bottom: 3%;
    }
    .link{
        font-size: 4vw;
    }
    /* HOME PAGE */
    /* VIDEO PAGE */
    #video-wrapper{
        height: 80vw;
        width: 80vw;
    }
    .credit,
    #close-button{
        font-size: 5vw;
    }
    /* /VIDEO PAGE */
    /* FAQ */
    /* #faq-page{
        padding: 10% 0;
    } */
    h2{
        font-size: 6vw;
        line-height: 1.2;
    }
    .link-light{
        font-size: 4vw;
    } 
    #logo-wrapper img{
        width: 50vw;
    }
    /* /FAQ */
}

@media only screen and (max-width: 1140px) {}
/* MEDIA QUERIES */